{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Текущие заметки</h2>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <a href="{% url 'todoread' todo.id %}" class="text-decoration-none text-dark">
                    {% if todo.important %}
                        <strong><span class="text-danger">{{ todo.title }}</span></strong>
                    {% else %}
                        {{ todo.title }}
                    {% endif %}
                    {% if todo.content %}
                        - <span class="text-muted">{{ todo.content }}</span>
                    {% endif %}
                </a>
            </div>
            {% if todo.important %}
            <span class="badge bg-danger rounded-pill">Important</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
