{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-5">
                    <h1 class="mb-4 text-center" style="font-size: 2rem; font-weight: bold;">📝 Создать Заметку</h1>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}

                    <form method="POST" class="note-form">
                        {% csrf_token %}
                        <div class="mb-3 form-floating">
                            {{ form.title|add_class:"form-control" }}
                            <label for="id_title">Название</label>
                        </div>Потяни за уголок
                        <div class="mb-3 form-floating">
                            {{ form.content|add_class:"form-control" }}
                            <label for="id_content">Содержание ✍️</label>
                        </div>
                        <div class="mb-3 form-check">
                            {{ form.important|add_class:"form-check-input" }}
                            <label class="form-check-label" for="id_important">Важно 💡</label>
                        </div>
                        <div class="mb-3 form-floating" >
                            {{ form.category|add_class:"form-select" }}
                            <label for="id_category" >Категория ️</label>
                            <option value="" selected disabled hidden>Выберите категорию</option>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-lg">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}